Source: openmediavault-wol
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0 )
Standards-Version: 3.9.6
Homepage: http://omv-extras.org/

Package: openmediavault-wol
Architecture: all
Depends: ${misc:Depends}, nast, etherwake, util-linux, 
 openmediavault (>= 1.0.7)
Description: OpenMediaVault WOL plugin
 Plugin to send wake-on-lan magic packets and put system in standby
 to wake at a specified time using rtcwake.
