Source: openmediavault-wol
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 13)
Standards-Version: 4.3.0
Homepage: http://omv-extras.org/

Package: openmediavault-wol
Architecture: all
Depends: etherwake,
         nast,
         openmediavault (>= 7),
         util-linux,
         wakeonlan,
         ${misc:Depends}
Description: OpenMediaVault WOL plugin
 Plugin to send wake-on-lan magic packets and put system in standby
 to wake at a specified time using rtcwake and wakeonlan.
